<!--
  Generated template for the ViewassetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>View Assets </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
   <ion-card>
      <ion-item style="background-color:#3a54a3;">
          <ion-label>
             Select Site
          </ion-label>
           <ion-select>
             <ion-option  *ngFor="let item of name;let i=index"  value={{item.Site}} [selected]="selected == item.Site" (ionSelect)="onChange(item.SiteId)">{{item.Site}}</ion-option>
           </ion-select>
   
          
         </ion-item>
   </ion-card>
   <ion-card>
      <ion-item style="background-color:#3a54a3;">
          <ion-label>
             Select Fleet
          </ion-label>
           <ion-select multiple="true" [(ngModel)]="fleetselect">
             <ion-option  *ngFor="let item of fleet;let i=index"  value={{item.FleetId}} >{{item.Fleet}}</ion-option>
           </ion-select>
   
          
         </ion-item>
   </ion-card>
    
      <ion-card>
          <ion-item style="background-color:#3a54a3;">
              <ion-label>
                  Select Status
              </ion-label>
              <ion-select [(ngModel)]="Statusselect">
                <ion-option value="UP">UP</ion-option>
                <ion-option value="DOWN">Down</ion-option>
              </ion-select>
      
             
            </ion-item>
      </ion-card>
     
        <div text-center>
          <button ion-button color="secondary" round (click)="submit()">Submit</button>
        </div>
        <ion-row>
            <ion-col col-12>
                <div style="background-color: #f6882d;;color:white;padding: 4px;">
                    <span style="margin-left:2%">Equipment Name</span><span style="margin-left:49%">Status</span>
                </div>
            </ion-col>
           
          </ion-row>
 
      
        <ion-card  *ngFor="let item of sub">
            <ion-item style="margin-bottom:1%" (click)="onset(item.EqpPlanId,item)">
    
                <h2  *ngIf="item.EqpPlan"> {{item.EqpPlan}}</h2>
              
                  
                  <button *ngIf="item.equipment_status=='DOWN'" ion-button clear item-end ><ion-badge color="danger">{{item.equipment_status}}</ion-badge></button>
                  <button ion-button clear item-end *ngIf="item.equipment_status=='UP'"><ion-badge color="secondary">{{item.equipment_status}}</ion-badge></button>
                  <button ion-button clear item-end *ngIf="item.equipment_status=='NA'"><ion-badge color="dark">{{item.equipment_status}}</ion-badge></button>
                </ion-item>
        </ion-card>
        
    
     
     



</ion-content>
